.screenOne {
  min-height: 100%;
  @include flexColumn;
  color: var(--color--white);
  padding: 10px;

  &__header {
    line-height: 25px;
    margin: 50px 0;
    font-family: var(--font-family--primary);

    &--title {
      font-size: var(--font-size--xl);
      font-weight: var(--font-weight--bold);
      text-transform: uppercase;

      @include respond(mobile) {
        font-size: var(--font-size--md);
      }

      @include respond(desktop) {
        font-size: var(--font-size--xxl);
      }
    }
  }

  &__container {
    @include flexColumn;
    width: 100%;

    &__input {
      width: 300px;
      height: 40px;
      border: none;
      border-radius: 5px;
      padding: 0 10px;
      font-size: var(--font-size--md);
      font-weight: var(--font-weight--normal);
      font-family: var(--font-family--primary);
      outline: none;

      &::placeholder {
        color: var(--color--gray);
        font-size: var(--font-size--sm);
        font-family: inherit;
      }
    }

    &__error {
      color: var(--color--red);
      font-size: var(--font-size--md);
    }

    &__btn {
      color: var(--color--white);
      margin-top: 15px;
      padding: 8px 22px;
      font-family: var(--font-family--tertiary);
      font-size: var(--font-size--md);
      font-weight: var(--font-weight--bold);
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      border-radius: 5px;
      border: none;
      box-shadow: var(--box-shadow);
      background: var(--color--green);
      z-index: 1;

      &:hover::after {
        width: 100%;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        background-color: var(--color--green-lite);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }

      &:active {
        top: 2px;
      }
    }
  }
}