@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

.screenOne {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  color: var(--color--white);
  position: relative;
}

@media only screen and (min-width: 900px) {
  .screenOne {
    height: 100vh;
  }
}

.screenOne__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.screenOne__header {
  font-family: var(--font-family--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.screenOne__header--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 100%;
}

.screenOne__header--title {
  font-size: 40px;
  font-family: "Tilt Prism", cursive;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.screenOne__header--subtitle {
  font-size: var(--font-size--xxl);
  font-style: italic;
  padding: 0 1rem;
  letter-spacing: 1px;
}

.screenOne__header--intro {
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--normal);
  font-family: var(--font-family--tertiary);
}

@media only screen and (min-width: 900px) {
.screenOne__header--intro {
  font-size: var(--font-size--md);
}
}

.screenOne__header-span {
  font-family: "Tilt Prism", cursive;
  font-style: italic;
  color: var(--color--green-lite);
}

.screenOne__header--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.screenOne__header--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.screenOne__header--head {
  font-size: var(--font-size--xl);
  font-family: "Tilt Prism", cursive;
}

.screenOne__header--item {
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--normal);
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .screenOne__header--item {
  font-size: var(--font-size--md);
  }
  }

strong {
  color: var(--color--green-lite);
  font-family: "Tilt Prism", cursive;
  letter-spacing: 0.5px;
}

.screenOne__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.screenOne__container__input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--normal);
  font-family: var(--font-family--primary);
  outline: none;
}

.screenOne__container__input::-moz-placeholder {
  color: var(--color--gray);
  font-size: var(--font-size--sm);
  font-family: inherit;
}

.screenOne__container__input::placeholder {
  color: var(--color--gray);
  font-size: var(--font-size--sm);
  font-family: inherit;
}

.screenOne__container__error {
  color: var(--color--red);
  font-size: var(--font-size--md);
  margin-top: 5px;
}

.screenOne__container__btn {
  color: var(--color--white);
  font-family: "Tilt Prism", cursive;
  margin-top: 15px;
  padding: 5px 20px;
  font-size: var(--font-size--md);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: var(--box-shadow);
  background: var(--color--green);
  z-index: 1;
}

.screenOne__container__btn:hover::after {
  width: 100%;
  left: 0;
}

.screenOne__container__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--color--green-lite);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.screenOne__container__btn:active {
  top: 2px;
}

@media only screen and (max-width: 480px) {
  .screenOne__header--title {
    /* font-size: var(--font-size--md); */
  }
}

@media only screen and (min-width: 1025px) {
  .screenOne__header--title {
    /* font-size: var(--font-size--xxl); */
  }
}

@media only screen and (max-width: 480px) {
  .screenOne__header--subtitle {
    font-size: var(--font-size--sm);
  }
}

@media only screen and (min-width: 1025px) {
  .screenOne__header--subtitle {
    font-size: var(--font-size--md);
  }
}

@media only screen and (min-width: 600px) {
  .screenOne__container__input {
    min-width: 500px;
    height: 35px;
  }
}
.screenTwo {
  height: 100%;
  padding: 50px 20px;
}
.screenTwo__card {
  box-shadow: 0 0 10px 0 var(--color--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color--dark-lite);
}
.screenTwo__card--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;
}
.screenTwo__card__delete-btn {
  background-color: unset;
  border: none;
  cursor: pointer;
  outline: none;
  width: 55px;
  height: 50px;
}
.screenTwo__card__delete-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.screenTwo__card__delete-img:hover {
  opacity: 0.5;
}
.screenTwo__card__delete-img:active {
  opacity: 0.2;
}
.screenTwo__card--count {
  font-family: "Tilt Prism", cursive;
  font-size: var(--font-size--md);
  color: var(--color--white);
  background-color: var(--color--gray);
  padding: 5px 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
  .screenTwo__card--count {
    font-size: var(--font-size--sm);
  }
}
.screenTwo__header {
  background-color: var(--color--bg);
  color: var(--color--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 0;
  height: 100%;
}
.screenTwo__header__success {
  margin: 20px 0;
  font-family: var(--font-family--primary);
}
.screenTwo__header__success--title {
  font-size: var(--font-size--lg);
  font-family: "Tilt Prism", cursive;
  margin-bottom: 5px;
}
@media only screen and (max-width: 480px) {
  .screenTwo__header__success--title {
    font-size: var(--font-size--sm);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .screenTwo__header__success--title {
    font-size: var(--font-size--xl);
  }
}
@media only screen and (min-width: 1025px) {
  .screenTwo__header__success--title {
    font-size: var(--font-size--xxl);
  }
}
.screenTwo__header__success--str {
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--normal);
  font-family: var(--font-family--tertiary);
  padding: 5px 0;
}
@media only screen and (max-width: 480px) {
  .screenTwo__header__success--str {
    font-size: var(--font-size--sm);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .screenTwo__header__success--str {
    font-size: var(--font-size--lg);
  }
}
@media only screen and (min-width: 1025px) {
  .screenTwo__header__success--str {
    font-size: var(--font-size--xl);
  }
}
.screenTwo__header__success--str span {
  font-family: "Tilt Prism", cursive;
  font-style: italic;
}
.screenTwo__header__success--str-original {
  color: var(--color--red);
}
.screenTwo__header__success--str-result {
  color: var(--color--green-lite);
}
.screenTwo__back {
  padding: 5px 10px;
  font-size: var(--font-size--md);
  font-family: "Tilt Prism", cursive;
  color: var(--color--white);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 30px;
  border: none;
  background-color: var(--color--green-lite);
  margin-top: 50px;
  text-decoration: none;
}
.screenTwo__back:hover {
  border-radius: 30px;
  padding-right: 25px;
  padding-left: 10px;
}
.screenTwo__back:hover::after {
  opacity: 1;
  right: 10px;
}
.screenTwo__back::after {
  content: "«";
  position: absolute;
  opacity: 0;
  font-size: var(--font-size--lg);
  top: 0.2rem;
  right: 20px;
  transition: 0.4s;
}

.errorFallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  font-family: var(--font-family--secondary);
}
.errorFallback__title {
  font-size: var(--font-size--xl);
  font-family: "Tilt Prism", cursive;
  color: var(--color--white);
  margin: 50px 0;
}
.errorFallback__msg {
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--normal);
  color: var(--color--red);
  margin-top: -10px;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color--bg);
  font-family: var(--font-family--secondary);
}
.notFound--container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.notFound--container__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.notFound--msg {
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--normal);
  font-family: var(--font-family--tertiary);
  font-style: italic;
  color: var(--color--white);
  margin-top: -10px;
}
.notFound--back {
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--normal);
  color: var(--color--white);
  margin-top: 20px;
}
.notFound--back__link {
  color: var(--color--red);
  font-family: "Tilt Prism", cursive;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
.notFound--back__link:hover {
  text-decoration: underline;
}
